/* style.css */
body{
    background-image: url(Background.jpeg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

  
    
}


 .fixed-image {

    display: block;
    width: 50%;
    position: fixed;
    left:  12%;
    width:50%;
    height:  700px; 
    width: 900px;

    
    
        }

            .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            color: white;
            padding: 5px;
            text-align: center;
        }

    